<footer
    class="flex flex-col bg-white-100 dark:bg-[#121212] py-16 items-center border-t border-gray-100 dark:border-stone-800 transition-colors">
    <div class="flex flex-col-reverse md:text-base text-sm md:flex-col w-full px-6 md:px-0 md:w-[80%] max-w-[1300px]">

        <!-- footer upper part starts here  -->
        <div class="flex justify-between flex-col md:flex-row gap-6">
            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold dark:text-white">Top RTCs</li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">APSRTC</a>
                </li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">GSRTC</a>
                </li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">MSRTC</a>
                </li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">TNSTC</a>
                </li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">View
                        All</a></li>
            </ul>

            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold dark:text-white">Others</li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">TSRTC</a>
                </li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">SBSTC</a>
                </li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">RSRTC</a>
                </li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Kerala
                        RTC</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">View
                        All</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold dark:text-white">Top bus routes</li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Hyderabad
                        to Bangalore Bus</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Bangalore
                        to Chennai Bus</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Pune to
                        Bangalore Bus</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Mumbai to
                        Bangalore Bus</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">View
                        All</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold dark:text-white">Top cities</li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Hyderabad
                        Bus Tickets</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Bangalore
                        Bus Tickets</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Chennai Bus
                        Tickets</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Pune Bus
                        Tickets</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">View
                        All</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold dark:text-white">redRail</li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Book Train
                        Tickets</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">PNR
                        Status</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Live Train
                        Status</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Train Seat
                        Availability</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Trains
                        between Stations</a></li>
            </ul>


        </div>
        <!-- footer upper part ends here  -->

        <hr class="my-8 dark:border-stone-800">
        <!-- footer bottom part starts here  -->
        <div class="flex justify-between flex-col md:flex-row gap-6">

            <div class="flex flex-col gap-2 md:w-[25%]">
                <div>
                    <img class="w-28" src="../../../assets/red-bus-with-word-bus-it_600323-482.avif" alt="">
                </div>
                <p class="text-gray-600 dark:text-gray-400">tedbus is the world's largest online bus ticket booking
                    service trusted by over 25 million happy customers globally. tedbus offers bus ticket booking
                    through its website, iOS and Android mobile apps for all major routes.</p>
            </div>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold dark:text-white">About tedbus</li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">About
                        us</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Investor
                        Relations</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Contact
                        us</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Mobile
                        version</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">tedbus on
                        mobile</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Sitemap</a>
                </li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Offers</a>
                </li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Careers</a>
                </li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Values</a>
                </li>
            </ul>



            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold dark:text-white">Info</li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">T&C</a>
                </li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Privacy
                        policy</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">FAQ</a>
                </li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Blog</a>
                </li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Bus
                        operator registration</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Agent
                        registration</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Insurance
                        partner</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">User
                        agreement</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold dark:text-white">Global Sites</li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">India</a>
                </li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a
                        href="">Singapore</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a
                        href="">Malaysia</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a
                        href="">Indonesia</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Peru</a>
                </li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a
                        href="">Colombia</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold dark:text-white">Our Partners</li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Goibibo
                        Bus</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Goibibo
                        Hotels</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Makemytrip
                        Bus</a></li>
                <li class="text-gray-600 dark:text-gray-400 hover:text-red-500 transition-colors"><a href="">Makemytrip
                        Hotels</a></li>
            </ul>


        </div>
        <!-- footer bottom part ends here  -->



    </div>
</footer>